.btn-outline-primary:hover {
    color: #830000!important;
    background-color: #fff!important;
    border-color: #830000!important;
}

.btn-outline-primary {
    color: #fff!important;
    background-color: #830000!important;
    border-color: #830000!important;
}

.btn-outline-secondary {
    color: #830000!important;
    background-color: #fff!important;
    border-color: #830000!important;
}
.btn-outline-secondary:hover {
    color: #fff!important;
    background-color: #830000!important;
    border-color: #830000!important;
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.20rem rgb(13 110 253 / 30%)!important;
}

.user-actions .dropdown{
    text-align: right;
}